<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>SmartLoL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
</head>
<body>

<header>
    <div class="row text-center">
        <div class="col-sm-4">
             <img src="{{ url_for('static', filename='img/logo-azul.png') }}" class="img-fluid rounded" width="80" height="80">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <p>{{ message }}</p>
        </div>
    </div>
</header>

</body>
</html>