<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>SmartLoL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <script src="{{ url_for('static', filename='js/reset-password.js') }}"></script>
</head>
<body>

<header>
    <div class="row text-center">
        <div class="col-sm-4">
             <img src="{{ url_for('static', filename='img/logo-azul.png') }}" class="img-fluid rounded" width="80" height="80">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <p>Insert a new password for your account with email {{ email }}</p>
        </div>
    </div>
</header>

<form action="{{ url_for('update_password') }}" method="post" id="reset-password-form" onsubmit="onSubmit(event)" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="new-password" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="new-password" placeholder="Enter new password" onblur="validatePassword()">
        </div>
    </div>
    <div class="form-group">
        <label for="confirm-new-password" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-4">
            <input name="password" type="password" class="form-control" id="confirm-new-password" placeholder="Confirm new password" onblur="validateConfirmPassword()">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <input name="identifier" type="hidden" value="{{ email }}">
</form>

</body>
</html>