<p>Por Favor sigue el siguiente link para cambiar tu contraseña:</p>
<p><a href="{{ recover_password_url }}">{{ recover_password_url }}</a></p>
<p>Si no has solicitado un cambio de contraseña ponte en contacto con nosotros en smartlol.app@gmail.com</p>
<br>